<div class="block">
  <img class="big-image" src="../../../assets/339233.jpg">
  <div class="aligned-text">Apie mus<br></div>
</div>


<div class="container-fluid">
  <div class="row">
    <div class="col-lg-6 col-sm-12" id="content">
      <div class="text">
        Fotostudija.lt - nuotraukas, spalvotą PDF spaudą, suvenyrus su nuotraukomis galite užsakyti neišeidami iš namų
        ar
        darbovietės, o atsiimti - daugiau nei 500 atsiėmimo vietų visoje Lietuvoje. Dėl užsakymų internetu skambinkite
        tel.
        +370 603 30006 arba rašykite į info@fotostudija.lt
        <h4>Žemiau pateiktais telefonų numeriais teikiama informacija tik apie fotosalonuose atliekamas paslaugas ir
          kainas.
        </h4>
        <hr><br>
        <hr>
        Justiniškių g. 91, PC "Norfa", Vilnius,<br>
        Justiniškių fotosalonas<br>
        <br>
        Tel. 85 2471703<br>
        <br>
        I - V: 09.00 - 20.00 (pertrauka: 14.00-15.00)<br>
        VI: 10.00 - 17.00 (pertrauka: 14.00-15.00)<br>
        <br>
        Sekmadienį ir valstybinių švenčių dienomis fotosalonas nedirba<br>
        <img id="map-photo" src="https://i.gyazo.com/d165a10ae473c8c24d398d2e66d98106.png">
      </div>
    </div>
    <div class="col-4" id="ad-photo">
      <img src="../../../assets/ad.jpg">
    </div>
  </div>
</div>
