<div class="block">
  <img class="big-image" src="../../../assets/339233.jpg">
  <div class="aligned-text">Fotosalonai<br></div>
</div>


<div class="row">
  <div class="col-lg-8 col-sm-12">
    <h4>S.Žukausko g. 39, Vilniuje, "Fotostudija":</h4>
    <br>
    Nuotraukų spausdinimas, skubios nuotraukos dokumentams, ID photo, nuotraukų skenavimas, retušavimas, puodelių su
    nuotraukomis gamyba, marškinėliai, džemperiai, bliuzonai, fotokristalai, fotoakmenys, reklaminė atributika ir kiti
    suvenyrai su nuotraukomis. A4 ir A3 kopijavimas ir dokumentų iš PDF spalvotas spausdinimas. Dokumentų skenavimas ir
    įrašymas į skaitmenines laikmenas. Vaizdajuosčių perrašymas ir kitos paslaugos.
    <h4>Žemiau pateiktais telefonų numeriais teikiama informacija tik apie fotosalonuose atliekamas paslaugas ir kainas.
    </h4>
    <hr>
    Fotosalono darbo laikas ir kontaktai:

    Tel. 85 2410110 - konsultacijos apie fotosalone teikiamas paslaugas

    I - V: nuo 9:00 iki 20:00 val.

    Šeštadienį, sekmadienį ir valstybinių švenčių dienomis fotosalonas nedirba.
    <br><br>
    Standartinių formatų nuotraukų spausdinimo kainoraštis* (minimali paslaugos kaina - 1,00 €)
    <br>
    <table class="table">
<tbody>
<tr>
<td style="background-color:rgb(92, 163, 158); text-align:center; vertical-align:middle">
<p style="text-align:center"><strong><span style="color:#FFFFFF">Formato pavadinimas,</span></strong></p>
<p style="text-align:center"><strong><span style="color:#FFFFFF">dydis, proporcija</span></strong></p>
</td>
<td style="background-color:rgb(143, 192, 169); text-align:center; vertical-align:middle">
<p style="text-align:center"><strong><span style="color:#FFFFFF">Rekomenduojama minimali</span></strong></p>
<p style="text-align:center"><strong><span style="color:#FFFFFF">originali raiška</span></strong></p>
<td style="background-color:rgb(208, 207, 153); text-align:center; vertical-align:middle">
<p style="text-align:center"><strong><span style="color:#FFFFFF">Silk (struktūrinis)</span></strong></p>
<p style="text-align:center"><strong><span style="color:#FFFFFF">paviršius</span></strong></p>
</td>
</tr>
<tr>
<td style="text-align:center; vertical-align:middle">13 x 13 (127x127 mm) 1:1</td>
<td style="text-align:center; vertical-align:middle">1500 x 1500 px</td>
<td style="text-align:center; vertical-align:middle">0,20 €</td>
</tr>
<tr>
<td style="text-align:center; vertical-align:middle">15 x 15 (152x152 mm) 1:1</td>
<td style="text-align:center; vertical-align:middle">1795 x 1795 px</td>
<td style="text-align:center; vertical-align:middle">0,29 €</td>
</tr>
<tr>
<td style="text-align:center; vertical-align:middle">30 x 30** (305x305 mm) 1:1</td>
<td style="text-align:center; vertical-align:middle">3602 x 3602 px</td>
<td style="text-align:center; vertical-align:middle">1,99 €</td>
</tr>
</tbody>
</table>
  </div>
  <div class="col-2">
    <img src="../../../assets/ad.jpg">
  </div>

</div>
