<table  cellpadding="1" cellspacing="1" class="table" style="width:100%">
    <tbody>
    <tr>
    <td rowspan="2" style="background-color:rgb(60, 149, 143); text-align:center; vertical-align:middle"><strong><span style="color:#FFFFFF">Fotopopieriaus paviršius:</span></strong></td>
    <td rowspan="2" class="formats">
    <p><span style="color:#FFFFFF"><strong>Kiekis</strong></span></p>
    </td>
    <td colspan="11" rowspan="1" style="background-color:#E8A87C; text-align:center"><strong><span style="color:#FFFFFF">Formatai</span></strong></td>
    </tr>
    <tr>
    <td class="formats"><strong><span >9x13</span></strong></td>
    <td class="formats"><strong><span >10x15</span></strong></td>
    <td class="formats"><strong><span >13x18</span></strong></td>
    <td class="formats"><strong><span >13x19</span></strong></td>
    <td class="formats"><strong><span >15x20</span></strong></td>
    <td class="formats"><strong><span>15x21</span></strong></td>
    <td class="formats"><strong><span>15x23</span></strong></td>
    <td class="formats"><strong><span>20x30</span></strong></td>
    <td class="formats"><strong><span>21x30</span></strong></td>
    <td class="formats"><strong><span>30x40</span></strong></td>
    <td class="formats"><strong><span>30x45</span></strong></td>
    </tr>
    <tr>
    <td colspan="1" rowspan="4" style="text-align:center; vertical-align:middle">
    <p>Fujicolor Crystal Archive</p>
    <p>GLOSSY (blizgus) / LUSTRE (matinis)</p>
    </td>
    <td style="text-align:center">1+</td>
    <td style="text-align:center">0,29€</td>
    <td style="text-align:center">0,39€</td>
    <td style="text-align:center">0,59€</td>
    <td style="text-align:center">0,69€</td>
    <td style="text-align:center">0,89€</td>
    <td style="text-align:center">0,99€</td>
    <td style="text-align:center">1,19€</td>
    <td style="text-align:center">2,39€</td>
    <td style="text-align:center">2,49€</td>
    <td style="text-align:center">3,99€</td>
    </tr>
    <tr>
    <td style="text-align:center">10+</td>
    <td style="text-align:center">0,18€</td>
    <td style="text-align:center">0,25€</td>
    <td style="text-align:center">0,36€</td>
    <td style="text-align:center">0,38€</td>
    <td style="text-align:center">0,49€</td>
    <td style="text-align:center">0,51€</td>
    <td style="text-align:center">0,55€</td>
    <td style="text-align:center">1,49€</td>
    <td style="text-align:center">1,59€</td>
    <td style="text-align:center">2,89€</td>
    </tr>
    <tr>
    <td style="text-align:center">100+</td>
    <td style="text-align:center">0,15€</td>
    <td style="text-align:center">0,21€</td>
    <td style="text-align:center">0,30€</td>
    <td style="text-align:center">0,32€</td>
    <td style="text-align:center">0,41€</td>
    <td style="text-align:center">0,42€</td>
    <td style="text-align:center">0,46€</td>
    <td style="text-align:center">0,79€</td>
    <td style="text-align:center">0,89€</td>
    <td style="text-align:center">2,49€</td>
    </tr>
    <tr>
    <td style="text-align:center">300+</td>
    <td style="text-align:center">0,10€</td>
    <td style="text-align:center">0,12€</td>
    <td style="text-align:center">0,18€</td>
    <td style="text-align:center">0,19€</td>
    <td style="text-align:center">0,25€</td>
    <td style="text-align:center">0,26€</td>
    <td style="text-align:center">0,28€</td>
    <td style="text-align:center">0,69€</td>
    <td style="text-align:center">0,79€</td>
    <td style="text-align:center">2,09€</td>
    </tr>
    <tr>
    <td colspan="1" rowspan="2" style="background-color:rgb(60, 149, 143); text-align:center; vertical-align:middle"><strong><span style="color:#FFFFFF">Fotopopieriaus paviršius:</span></strong></td>
    <td colspan="1" rowspan="2" style="background-color:rgb(92, 163, 158); text-align:center; vertical-align:middle"><span style="color:#FFFFFF"><strong>Kiekis</strong></span></td>
    <td colspan="11" rowspan="1" class="formats"><strong><span style="color:#FFFFFF">Formatai</span></strong></td>
    </tr>
    <tr>
    <td  class="formats"><strong><span style="color:#FFFFFF">9x13</span></strong></td>
    <td  class="formats"><strong><span style="color:#FFFFFF">10x15</span></strong></td>
    <td  class="formats"><strong><span style="color:#FFFFFF">13x18</span></strong></td>
    <td  class="formats"><strong><span style="color:#FFFFFF">13x19</span></strong></td>
    <td  class="formats"><strong><span style="color:#FFFFFF">15x20</span></strong></td>
    <td  class="formats"><strong><span style="color:#FFFFFF">15x21</span></strong></td>
    <td  class="formats"><strong><span style="color:#FFFFFF">15x23</span></strong></td>
    <td  class="formats"><strong><span style="color:#FFFFFF">20x30</span></strong></td>
    <td  class="formats"><strong><span style="color:#FFFFFF">21x30</span></strong></td>
    <td  class="formats"><strong><span style="color:#FFFFFF">30x40</span></strong></td>
    <td  class="formats"><strong><span style="color:#FFFFFF">30x45</span></strong></td>
    </tr>
    <tr>
    <td colspan="1" rowspan="4" style="text-align:center; vertical-align:middle">
    <p>Fujicolor CA Professional DPII</p>
    <p>SILK</p>
    </td>
    <td style="text-align:center">1+</td>
    <td style="text-align:center">0,39€</td>
    <td style="text-align:center">0,49€</td>
    <td style="text-align:center">0,79€</td>
    <td style="text-align:center">0,89€</td>
    <td style="text-align:center">1,09€</td>
    <td style="text-align:center">1,29€</td>
    <td style="text-align:center">1,49€</td>
    <td style="text-align:center">2,89€</td>
    <td style="text-align:center">2,99€</td>
    <td style="text-align:center">4,49€</td>
    <td style="text-align:center">4,99€</td>
    </tr>
    <tr>
    <td style="text-align:center">10+</td>
    <td style="text-align:center">0,25€</td>
    <td style="text-align:center">0,34€</td>
    <td style="text-align:center">0,49€</td>
    <td style="text-align:center">0,52€</td>
    <td style="text-align:center">0,67€</td>
    <td style="text-align:center">0,69€</td>
    <td style="text-align:center">0,75€</td>
    <td style="text-align:center">1,89€</td>
    <td style="text-align:center">1,99€</td>
    <td style="text-align:center">3,19€</td>
    <td style="text-align:center">3,29€</td>
    </tr>
    <tr>
    <td style="text-align:center">100+</td>
    <td style="text-align:center">0,20€</td>
    <td style="text-align:center">0,28€</td>
    <td style="text-align:center">0,41€</td>
    <td style="text-align:center">0,44€</td>
    <td style="text-align:center">0,56€</td>
    <td style="text-align:center">0,58€</td>
    <td style="text-align:center">0,63€</td>
    <td style="text-align:center">0,99€</td>
    <td style="text-align:center">1,09€</td>
    <td style="text-align:center">2,79€</td>
    <td style="text-align:center">2,89€</td>
    </tr>
    <tr>
    <td style="text-align:center">300+</td>
    <td style="text-align:center">0,14€</td>
    <td style="text-align:center">0,19€</td>
    <td style="text-align:center">0,27€</td>
    <td style="text-align:center">0,29€</td>
    <td style="text-align:center">0,33€</td>
    <td style="text-align:center">0,37€</td>
    <td style="text-align:center">0,39€</td>
    <td style="text-align:center">0,79€</td>
    <td style="text-align:center">0,89€</td>
    <td style="text-align:center">2,39€</td>
    <td style="text-align:center">2,49€</td>
    </tr>
    </tbody>
    </table>